#!/usr/bin/env bash
# Copyright (c) 2024 Oracle Corporation and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl
# shellcheck disable=SC1091
set -o pipefail

#Domain = ${domain_path}
#user = ${user}
#XPATH map old/new: object oci_host_listen_address

LOG_FILE='wls_update_domain_config.log'

function log(){
    timestamp=$(date +'%Y-%m-%d %H:%M:%S')
    level=$1
    message=$2
    echo "$timestamp" ["$${level^^}"] "$message" | tee -a "$LOG_FILE"
}


function update_wls_config() {
    log "info" "Attempting to update Weblogic Configuration with new hostnames"
    %{ for key, value in oci_host_listen_address }
        sudo su - ${user} -c 'grep --include=\*.{xml,properties} -rnl "${domain_path}" -e "${key}"' >> "$LOG_FILE" 2>&1;
        sudo su - ${user} -c 'grep --include=\*.{xml,properties} -rwl "${domain_path}" -e "${key}" | xargs sed -i "s/${key}/${value}/g"' >> "$LOG_FILE" 2>&1;
    %{ endfor ~}
    log "info" "Weblogic config updated."
}


time update_wls_config || { echo "Error Updating Weblogic configuration. Check logs." 1>&2; exit 1; }